SAMtemplates/state_machines/Format1UpdatePrescriptionsStatusStateMachine.asl.json
{
  "Comment": "Format 1 Update Prescription Status State Machine",
  "StartAt": "Call Convert Request To Fhir Format",
  "States": {
    "Call Convert Request To Fhir Format": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${ConvertRequestToFhirFormatFunctionArn}"
      },
      "Next": "Convert Request to FHIR result",
      "InputPath": "$",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CatchAllError"
        }
      ],
      "ResultSelector": {
        "Payload": {
          "statusCode.$": "$.Payload.statusCode",
          "headers.$": "$.Payload.headers",
          "body.$": "States.StringToJson($.Payload.body)"
        }
      }
    },
    "Convert Request to FHIR result": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.Payload.statusCode",
            "NumericEquals": 200
          },
          "Next": "Failed Convert Request to FHIR"
        }
      ],
      "Default": "Call Update Prescription Status"
    },
    "Failed Convert Request to FHIR": {
      "Type": "Pass",
      "End": true
    },
    "Call Update Prescription Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${UpdatePrescriptionStatusFunctionArn}"
      },
      "Next": "Check Update Prescription Status Result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CatchAllError"
        }
      ],
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "InputPath": "$.Payload "
    },
    "Check Update Prescription Status Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Payload.statusCode",
          "NumericEquals": 409,
          "Next": "Translate 409 to 202"
        }
      ],
      "Default": "End State"
    },
    "Translate 409 to 202": {
      "Type": "Pass",
      "Result": {
        "Payload": {
          "statusCode": 202,
          "headers": {
            "Content-Type": "application/fhir+json",
            "Cache-Control": "no-cache"
          },
          "body": "{\"resourceType\":\"OperationOutcome\",\"issue\":[{\"severity\":\"information\",\"code\":\"information\",\"diagnostics\":\"Duplicate update detected. The message was valid but did not result in an update.\"}]}"
        }
      },
      "End": true
    },
    "End State": {
      "Type": "Pass",
      "End": true
    },
    "CatchAllError": {
      "Type": "Pass",
      "Result": {
        "Payload": {
          "statusCode": 500,
          "headers": {
            "Content-Type": "application/fhir+json",
            "Cache-Control": "no-cache"
          },
          "body": "{\"resourceType\":\"OperationOutcome\",\"issue\":[{\"severity\":\"error\",\"code\":\"processing\",\"diagnostics\":\"System error\"}]}"
        }
      },
      "End": true
    }
  }
}
