SAMtemplates/state_machines/UpdatePrescriptionStatusStateMachine.asl.json
{
  "Comment": "Update Prescription Status State Machine",
  "StartAt": "FHIR Validation",
  "States": {
    "FHIR Validation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${FhirValidationFunctionArn}"
      },
      "ResultPath": "$.FhirValidationResult",
      "ResultSelector": {
        "Response.$": "$.Payload"
      },
      "Next": "FHIR Validation Result",
      "InputPath": "$.body"
    },
    "FHIR Validation Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.FhirValidationResult.Response.StatusCode",
            "NumericEquals": 200
          },
          "Next": "Failed FHIR Validation"
        }
      ],
      "Default": "Update Prescription Status"
    },
    "Failed FHIR Validation": {
      "Type": "Pass",
      "End": true,
      "InputPath": "$.FhirValidationResult.Response"
    },
    "Update Prescription Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${UpdatePrescriptionStatusFunctionArn}"
      },
      "End": true
    }
  }
}
