SAMtemplates/state_machines/UpdatePrescriptionStatusStateMachine.asl.json
{
  "Comment": "Update Prescription Status State Machine",
  "StartAt": "Call FHIR Validation",
  "States": {
    "Call FHIR Validation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${FhirValidationFunctionArn}"
      },
      "ResultPath": "$.FhirValidationResult",
      "ResultSelector": {
        "Response.$": "$.Payload",
        "NumberFailedValidation.$": "States.ArrayLength($.Payload.issue[?(@.severity ==error)])"
      },
      "Next": "Do FHIR Validation Errors Exist",
      "InputPath": "$.body"
    },
    "Do FHIR Validation Errors Exist": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FhirValidationResult.NumberFailedValidation",
          "NumericGreaterThan": 0,
          "Next": "Return Failed FHIR Validation Errors"
        }
      ],
      "Default": "Call Update Prescription Status"
    },
    "Return Failed FHIR Validation Errors": {
      "Type": "Pass",
      "End": true,
      "InputPath": "$.FhirValidationResult.Response",
      "Parameters": {
        "Payload": {
          "statusCode": 400,
          "headers": {"Content-Type":"application/fhir+json","Cache-Control":"no-cache"},
          "body.$": "States.JsonToString($)"
        }
      }
    },
    "Call Update Prescription Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${UpdatePrescriptionStatusFunctionArn}"
      },
      "End": true
    }
  }
}
